<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transfer market</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <style>
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}

th {
  background-color: #fce7bd;
  color: white;
}

th,
td {
    width: 150px;
    text-align: center;
    background-color: #fce7bd;
    font-size: 100%;
    color: midnightblue;
    border: 1px solid black;
    padding: 5px;
}

h2 {
  color: #4287f5;
}
    </style>
</head>
<body>
    <center>
    <div class="jumbotron">
        <h1>Transfer Market</h1>
<br>
        <div>Местное время: </div>  <div id="time"></div>

<script>
function updateTime() {
    document.getElementById("time").innerHTML = new Date().toTimeString();
}
setInterval(updateTime, 1000);
</script>
<br>
   <div class='responsive-table'>

    <a href="{% url 'transfer:league' %}"><button type="button" class="btn btn-warning">League</button></a>
   <a href="{% url 'transfer:selection' %}"><button type="button" class="btn btn-primary">Match</button></a>

            <table class = 'highlight '>
            <thead>
            <tr>
                <th>id</th>
                <th>position</th>
                <th>name</th>
                <th>age</th>
                <th>skill</th>
                <th>apply</th>

            </tr>
            </thead>
            <tbody>
            {% for player in markets %}
                <tr>
                    <td>{{ player.id }} </td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.name }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.skills }}</td>
                    <td><a href="{% url 'transfer:buy' player.id %}"><button type="button" class="btn btn-info">Buy</button></a>
</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    <a href="{% url 'transfer:league' %}"><button type="button" class="btn btn-warning">League</button></a>
   <a href="{% url 'transfer:selection' %}"><button type="button" class="btn btn-primary">Match</button></a>

    </div>
    </div>
</center>
</body>
</html>